.about-section {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9)),
    url("../img/aboutme.jpg") no-repeat center center / cover;
  overflow: hidden;

  .section-title {
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 1.5rem;
    text-decoration: underline;
  }

  .about-container {
    @include widthHeight(100%, 80vh);
    // margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;

    .about-image {
      width: 350px;
      height: auto;

      //for animation
      opacity: 0;
      pointer-events: none;
      transform: translateY(200px);
      transition: all 1s ease;
    }
    .about-image.showDownUp {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
    }
    .about-content {
      color: $secondary-color;
      text-align: center;

      //for animation (up to down)
      opacity: 0;
      pointer-events: none;
      transform: translateY(-150px);
      transition: all 1s ease;

      h1 {
        text-align: center;
        line-height: 80px;
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 30px;
      }
      a {
        color: white;
        border: solid 1px red;
        padding: 10px 20px;
        border-radius: 15px;
        transition: all 0.3s linear;

        &:hover {
          background: $primary-color;
        }
      }
    }
    .about-content.showUpDown {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
    }
  }
}

// .about-section {
//   height: 100vh;
// background: linear-gradient(rgba(0, 0, 0, 0.9)),
//   url("../img/aboutme.jpg") no-repeat center center / cover;
//   overflow: hidden;
//   padding: 0 30px;

//   .section-title {
//     text-align: center;
//     color: white;
//     text-transform: uppercase;
//     margin-top: 30px;
//     font-size: 1.5rem;
//     text-decoration: underline;
//   }
//   .about-container {
//     @include widthHeight(100%, 80vh);
//     @include flexDisplay(center, space-around, row);
//     flex-wrap: wrap;

//     .about-image {
//       width: 500px;
//       height: auto;

//       //for animation (down to up)
//       opacity: 0;
//       pointer-events: none;
//       transform: translateY(200px);
//       transition: all 1s ease;
//     }
//     //animation
//     .about-image.showDownUp {
//       opacity: 1;
//       pointer-events: all;
//       transform: translateY(0);
//     }

//     .about-content {
//       flex: 1;
//       @include flexDisplay(center, center, column);
//       text-align: center;
//       color: white;
//       padding: 10px 15px;

//       //for animation (up to down)
//       opacity: 0;
//       pointer-events: none;
//       transform: translateY(-150px);
//       transition: all 1s ease;

//       h1 {
//         text-align: center;
//         line-height: 80px;
//         font-size: 2rem;
//       }
//       p {
//         font-size: 1rem;
//         font-weight: 400;
//       }
//       a {
//         color: white;
//         border: solid 1px red;
//         margin-top: 20px;
//         padding: 10px 20px;
//         border-radius: 15px;
//         transition: all 0.3s linear;

//         &:hover {
//           background: red;
//         }
//       }
//     }
//     //animation
//     .about-content.showUpDown {
//       opacity: 1;
//       pointer-events: all;
//       transform: translateY(0);
//     }
//   }
// }
