* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  height: 100px;
  position: fixed;
  margin: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .mylogo {
  width: 80px;
  height: 80px;
}

.header .toggle-btn {
  display: none;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu a {
  margin-left: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7em;
  color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .menu a::after {
  content: "";
  width: 100%;
  height: 3px;
  background: red;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header .menu a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header.startScroll {
  width: 100%;
  height: 60px;
  background: white;
}

.header.startScroll .mylogo {
  width: 70px;
  height: 70px;
}

.header.startScroll .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header.startScroll .menu a {
  margin-left: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.6em;
  color: black;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header.startScroll .menu a::after {
  content: "";
  width: 100%;
  height: 3px;
  background: red;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header.startScroll .menu a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.landing-page {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8))), url("../img/KRAMDROID.jpg") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.8)), url("../img/KRAMDROID.jpg") no-repeat center center/cover;
  line-height: 40px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.landing-page .introText {
  margin-left: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.landing-page .introText h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
}

.landing-page .introText h1 span {
  color: red;
}

.landing-page .introText h2 {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
}

.landing-page .introText a {
  color: white;
  border: solid 1px red;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 15px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.landing-page .introText a:hover {
  background: red;
}

.landing-page .scroll-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
}

.landing-page .scroll-btn .scroll {
  position: absolute;
  bottom: 20px;
}

.landing-page .scroll-btn .scroll i {
  color: red;
  font-size: 2rem;
  background: white;
  border-radius: 50%;
  -webkit-animation: updown 0.5s infinite;
          animation: updown 0.5s infinite;
}

@-webkit-keyframes updown {
  from {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes updown {
  from {
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.about-section {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9))), url("../img/aboutme.jpg") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.9)), url("../img/aboutme.jpg") no-repeat center center/cover;
}

.about-section .section-title {
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 1.5rem;
  text-decoration: underline;
}

.about-section .about-container {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.about-section .about-container .about-image {
  width: 350px;
  height: auto;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.about-section .about-container .about-image.showDownUp {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.about-section .about-container .about-content {
  color: #fff;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.about-section .about-container .about-content h1 {
  text-align: center;
  line-height: 80px;
  font-size: 2rem;
}

.about-section .about-container .about-content p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.about-section .about-container .about-content a {
  color: white;
  border: solid 1px red;
  padding: 10px 20px;
  border-radius: 15px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.about-section .about-container .about-content a:hover {
  background: #e90404;
}

.about-section .about-container .about-content.showUpDown {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.services-section {
  width: 100%;
  height: auto;
  background: #222;
}

.services-section .all-services {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.services-section .all-services .services {
  width: 220px;
  margin: 10px;
  padding: 35px 15px;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.services-section .all-services .services .service-logo {
  width: 80px;
  height: 80px;
  border: solid 1px red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background 0.9s ease, -webkit-transform 0.5s ease;
  transition: background 0.9s ease, -webkit-transform 0.5s ease;
  transition: background 0.9s ease, transform 0.5s ease;
  transition: background 0.9s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}

.services-section .all-services .services .service-logo i {
  color: red;
  font-size: 1.8rem;
  padding: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.services-section .all-services .services .service-logo:hover {
  background: red;
  -webkit-transform: rotate(45deg) scale(0.8);
          transform: rotate(45deg) scale(0.8);
}

.services-section .all-services .services .service-logo:hover i {
  color: white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.services-section .all-services .services h1 {
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  padding: 10px;
}

.services-section .all-services .services p {
  font-size: 0.8rem;
  color: white;
  font-weight: 400;
}

.contact-section {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("../img/contacts.jpg") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url("../img/contacts.jpg") no-repeat center center/cover;
  position: relative;
}

.contact-section .contacts {
  height: 90vh;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-section .contacts .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  max-width: 100%;
  margin-bottom: 15px;
}

.contact-section .contacts .item i {
  color: black;
  background: red;
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 50%;
}

.contact-section .contacts .item p {
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact-section .contacts .item p:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.contact-section .contacts .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-section .contacts .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-section .contacts .contact-form form input[type="email"],
.contact-section .contacts .contact-form form input[type="text"],
.contact-section .contacts .contact-form form textarea {
  width: 100%;
  border: white solid 1px;
  background: black;
  padding: 10px 20px;
  margin: 10px;
  color: white;
}

.contact-section .contacts .contact-form form textarea {
  resize: vertical;
  height: 200px;
}

.contact-section .contacts .contact-form form input[type="submit"] {
  width: 100%;
  height: 20px;
  background: black;
  color: white;
  border: solid 2px black;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.footer {
  width: 100vw;
  height: 20vh;
  background: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.footer .item {
  color: white;
}

.footer .item h1 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.footer .item .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 20px;
}

.footer .item .social-icons i {
  color: white;
  background: black;
  padding: 10px;
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer .item .social-icons i:hover {
  background: red;
  cursor: pointer;
  -webkit-animation: beating 0.5s infinite;
          animation: beating 0.5s infinite;
}

@-webkit-keyframes beating {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes beating {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

.section-title {
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 1.5rem;
  text-decoration: underline;
}

.main {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 1fr;
}

@media (max-width: 630px) {
  .header {
    width: 100%;
    height: 100px;
    position: fixed;
    margin: 0;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .mylogo {
    width: 80px;
    height: 80px;
  }
  .header .toggle-btn {
    display: block;
    cursor: pointer;
  }
  .header .toggle-btn span {
    color: white;
  }
  .header .menu {
    height: auto;
    width: 100%;
    position: absolute;
    margin-top: 250px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: red;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .header .menu a {
    margin: 10px;
    font-size: 0.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .menu a::after {
    background: black;
  }
  .header .menu a:hover::after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .header .menu.showMenu {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .header.startScroll {
    width: 100%;
    height: 60px;
    background: white;
  }
  .header.startScroll .mylogo {
    width: 70px;
    height: 70px;
  }
  .header.startScroll .toggle-btn span {
    color: black;
  }
  .header.startScroll .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 90px;
  }
  .header.startScroll .menu a {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header.startScroll .menu a::after {
    content: "";
    width: 100%;
    height: 3px;
    background: black;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .header.startScroll .menu a:hover::after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .landing-page .intro-text h1 {
    font-size: 1.3rem;
  }
  .landing-page .scroll-btn {
    display: none;
  }
  .about-section {
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9))), url("../img/aboutme.jpg") no-repeat center center/cover;
    background: linear-gradient(rgba(0, 0, 0, 0.9)), url("../img/aboutme.jpg") no-repeat center center/cover;
  }
  .about-section .section-title {
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 1.5rem;
    text-decoration: underline;
  }
  .about-section .about-container {
    width: 100%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .about-section .about-container .about-image {
    width: 250px;
    height: auto;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .about-section .about-container .about-image.showDownUp {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .about-section .about-container .about-content {
    color: #fff;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .about-section .about-container .about-content h1 {
    text-align: center;
    line-height: 80px;
    font-size: 2rem;
  }
  .about-section .about-container .about-content p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .about-section .about-container .about-content a {
    color: white;
    border: solid 1px red;
    padding: 10px 20px;
    border-radius: 15px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .about-section .about-container .about-content a:hover {
    background: #e90404;
  }
  .about-section .about-container .about-content.showUpDown {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .contact-section .section-title {
    margin-bottom: 15px;
  }
  .contact-section .contacts .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    max-width: 100%;
    margin-bottom: 15px;
  }
  .contact-section .contacts .item i {
    color: black;
    background: red;
    font-size: 1rem;
    padding: 7px;
    border-radius: 50%;
  }
  .contact-section .contacts .item p {
    font-size: 1rem;
  }
  .contact-section .contacts .item p:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .contact-section .contacts .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-section .contacts .contact-form form input[type="email"],
  .contact-section .contacts .contact-form form input[type="text"],
  .contact-section .contacts .contact-form form textarea {
    width: 100%;
    border: white solid 1px;
    background: black;
    padding: 5px 15px;
    margin: 7px;
    color: white;
  }
  .contact-section .contacts .contact-form form textarea {
    resize: vertical;
    height: 150px;
  }
  .contact-section .contacts .contact-form form input[type="submit"] {
    width: 100%;
    height: 30px;
    background: black;
    color: white;
    border: solid 2px black;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .contact-section .contacts .contact-form form input[type="submit"]:hover {
    background: none;
    color: white;
  }
  .footer {
    width: 100vw;
    height: 20vh;
    background: #111;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .footer .item {
    color: white;
  }
  .footer .item h1 {
    font-size: 1.3rem;
    margin-bottom: 3px;
  }
  .footer .item .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 20px;
  }
  .footer .item .social-icons i {
    color: white;
    background: black;
    padding: 10px;
    border-radius: 50%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}
/*# sourceMappingURL=styles.css.map */